@import "~/common/stylesheet/index";

.rating {
  height: $height-header;
  background-color: $theme-dark;
  display: flex;

  .star {
    flex: 1;
    color: $theme-lighter;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;

    &.disabled span {
      filter: grayscale(100);
    }
  }
}