@import "~/common/stylesheet/index";

.topic_view {
  flex: 1;
  width: 100vw;
  display: flex;
  align-items: stretch;

  input,
  textarea {
    background: $theme-lighter;
    color: $theme-dark;
    border: none;
    padding: .5rem;
  }

  .status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $height-header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    pointer-events: none;

    .time {
      font-size: 2rem;
      width: 2em;
      padding-left: 0;
      padding-right: 0;
      pointer-events: auto;
      text-align: center;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .problem_panel {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $theme-light;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;

    > * {
      flex-shrink: 0;
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $theme-dark;
      font-weight: bold;
    }

    .content {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: $theme-dark;
    }

    .sample {
      display: flex;
      flex-direction: column;

      .editor {
        width: 100% !important;
        height: 4rem !important;
        transition: none;

        * {
          transition: none;
        }
      }

      .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $theme-lighter;
        margin-bottom: 1rem;

        .visible {
          color: $theme-dark;
          padding: .4rem;
        }

        .remove {
          color: $theme-red;
          padding: .4rem;
        }
      }
    }

    .button {
      color: $theme-lighter;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 1rem;

      &.add_testcase {
        background-color: $theme-dark;
      }

      &.save {
        flex: 1;
        background-color: $theme-green;
        margin-right: 1rem;
      }

      &.remove {
        width: 8rem;
        background-color: $theme-red;
      }

      &.disabled {
        pointer-events: none;
        filter: grayscale(100%);
      }
    }

    .toolbar {
      display: flex;
    }
  }

  .player {
    display: flex;
    align-items: center;
    height: $height-header;
    color: $theme-light;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: $theme-normal;

    &:hover {
      position: relative;
      z-index: 999;
      box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    }

    .picture {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      background-size: cover;
      margin-right: .4rem;
    }

    .name {
      flex: 1;
    }
  }

  .status_panel {
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: $theme-dark;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;

    > * {
      flex-shrink: 0;
    }

    span {
      color: $theme-light;
      font-size: 1.2rem;
      margin-bottom: 2rem;

      a {
        text-decoration: underline;
      }
    }
  }

  .ide_panel {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    &:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    }

    .player {
      &:hover {
        box-shadow: none;
      }
    }

    .editor {
      flex: 1;
      width: 100% !important;
      height: 100% !important;
      transition: none;

      * {
        transition: none;
      }
    }

    .toolbar {
      height: $height-header;
      display: flex;

      .button {
        color: $theme-lighter;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $theme-dark;
      }

      .run {
        flex: 1;
        background-color: $theme-green;
      }
    }
  }
}