@import "~/common/stylesheet/index";

.home_view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $theme-normal;

  .cover {
    background: url(/img/hey_boi.jpg) center;
    background-size: cover;
    align-self: stretch;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4rem 0 4rem 10vw;
    box-sizing: border-box;

    .slogan {
      color: $theme-normal;
      font-size: 4rem;
      white-space: nowrap;
      margin-bottom: 2rem;
    }

    .join {
      border: 4px solid $theme-normal;
      color: $theme-normal;
      padding: 1rem 2rem;
      font-weight: bold;
      font-size: 1.2rem;

      &:hover {
        background-color: $theme-normal;
        color: $theme-lighter;
      }
    }
  }
}