@import "~/common/stylesheet/index";

.home_view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $theme-light;

  .cover {
    background: url(/img/hey_boi.jpg) center;
    background-size: cover;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4rem 0 4rem 10vw;
    box-sizing: border-box;

    .slogan {
      color: $theme-normal;
      font-size: 4rem;
      white-space: nowrap;
      margin-bottom: 2rem;
    }

    .button_container {
      display: flex;

      .button {
        border: 4px solid $theme-normal;
        color: $theme-normal;
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 1rem;

        &:hover {
          background-color: $theme-normal;
          color: $theme-lighter;
        }
      }
    }
  }

  .topics {
    display: flex;
    padding: 4rem;
    flex-wrap: wrap;

    .label {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      color: $theme-dark;
      font-size: 2rem;
    }

    .section {
      width: 50%;
      padding: 2rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .topic {
        background-color: $theme-dark;
        padding: 0 1.5rem;

        .title_bar {
          display: flex;
          align-items: center;
          height: $height-header;
          color: $theme-light;
          box-sizing: border-box;

          .title {
            color: $theme-lighter;
            font-size: 1.2rem;
            margin-right: 1rem;

            &.owned {
              text-decoration: underline;
            }
          }

          .space {
            flex: 1;
          }

          .picture {
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            background-size: cover;
            margin-right: .4rem;
          }
        }

        .content {
          padding-bottom: 1.5rem;
          color: $theme-light;
        }
      }

      .row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: $theme-normal;

        &.opened {
          background-color: $theme-dark;

          &:hover {
            position: relative;
            z-index: 999;
            box-shadow: 0 0 12px rgba(0, 0, 0, .6);
          }

          .player {
            &:hover {
              box-shadow: none;
            }
          }
        }

        .player {
          background: none;
        }

        .editor {
          flex: 1;
          width: 100% !important;
          height: 200px !important;
          transition: none;

          * {
            transition: none;
          }
        }

        .comment {
          display: flex;
          justify-content: center;
          overflow-x: auto;
        }
      }

      .load_more {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $theme-dark;
        height: $height-header;
        color: $theme-light;
        box-sizing: border-box;

        &:hover {
          position: relative;
          z-index: 999;
          box-shadow: 0 0 12px rgba(0, 0, 0, .6);
        }
      }
    }
  }

}